/* BODY  */
body {
    background-color: white;
}

/* HEADER  */
header {
    width: 100%;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 40px;
    background-color: #B29A7A;
    border-bottom: 8px solid black;
}
/* BODY - CENTERING INFO */
.home .container .row
{
    background-color: rgba(255, 255, 255, 0.746);
    margin-top: 30px;
    margin-bottom: 50px;
    min-height: 500px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    font-size: 1em;
    font-weight: bold;
    padding: 0;
}

.nav-item a{
    padding: 20px;
    height: 100%;
    width: 70px;
}
.nav-link:hover{
    background-color: white;
}
.navbar-light .navbar-nav .nav-link{
    color: #4078a5;
}

/* BODY */
.home {
    
    width: 100%;
    margin: auto;
    border-radius: 0;
    background-color: white;    
    color: black;
    background-image: url("Assets/pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 85px;
    padding-bottom: 85px;
}

.display-head {
    opacity: 1;
    font-size: 2.1em;
    font-family: 'Antic Slab', sans-serif;
    padding-top: 20px;
}
h3 {
    font-size: 150%;
}

/* ABOUT */
.about {
    color: white;
}
h2{
    text-align: center;
}
.about .container {
    padding-left: 275px;
    max-width: none;
    background-color: #4078a5;
    text-align: center;
}

img {
    width: 60%;
    border: 3px solid #B29A7A;
    float: right;
    border-radius: 1,4;
}

.border {
    height: 70px;
    width: 100%;
    background-color: #B29A7A;
    margin: 0px;
    padding: 20px;
    border-bottom: 8px solid black;
    color: #4078a5;
}

/* PROJECTS */

.projects {
    padding: 50px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: #4078a5;
    border-radius: 3px;
    padding: 20px;
}

.card-title{
    color: black;
}

.card-text {
    color: black;
}

/* ONLINE */

.online .container {
    margin-left: 00px;
    background-color: #4078a5;
    max-width: none;
    padding: 50px;
}

/* FOOTER */

footer{
    color: whitesmoke;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%; 
    text-align: center;   
}